---
import Section from '@/components/Section.astro';
import HTML from '@/icons/html.astro';
import CSS from '@/icons/css.astro';
import JavaScript from '@/icons/javascript.astro';
import React from '@/icons/react.astro';
import Node from '@/icons/node.astro';
import MySQL from '@/icons/sql.astro';
import Git from '@/icons/git.astro';
import GitHub from '@/icons/github.astro';
import { knowledge } from '@cv';
const { hardSkills } = knowledge;

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
};
---

<Section title="Habilidades">
  <ul>
    {
      hardSkills.map(({ skill }) => {
        const iconName = skill.name === 'Next.js' ? 'Next' : skill.name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{skill.name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
