---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Skills from '@/components/sections/Skills.astro';
import Languages from '@/components/sections/Languages.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title="Portfolio Miguel Zamora Rey - Full Stack developer">
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Education />
    <Languages />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
