---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Skills from '@/components/sections/Skills.astro';
import Languages from '@/components/sections/Languages.astro';
import Projects from '@/components/sections/Projects.astro';
import Recommended from '@/components/sections/Recommended.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';

import { colors } from '@config/styles.json';
const { bgColor, secondaryBg } = colors;

import { recomendations } from '@config/recommended.json';

const showSkills = import.meta.env.PUBLIC_SHOW_SKILLS == 'Y';
const showProjects = import.meta.env.PUBLIC_SHOW_PROJECTS == 'Y';
const showEducation = import.meta.env.PUBLIC_SHOW_EDUCATION == 'Y';
const showLanguages = import.meta.env.PUBLIC_SHOW_LANGUAGES == 'Y';
const showRecommended = import.meta.env.PUBLIC_SHOW_RECOMMENDED == 'Y';
---

<Layout title="Portfolio Miguel Zamora Rey - Full Stack developer">
  <main>
    <Hero />
    <div class="secondBg">
      <About />
      {showSkills && <Skills />}
      {showRecommended && recomendations && <Recommended />}
      <br />
    </div>
    <section class="spikes"></section>
    <Experience />
    <section class="spikes2"></section>
    <div class="secondBg">
      <br />
      <br />
      {showProjects && <Projects />}
      {showEducation && <Education />}
      {showLanguages && <Languages />}
      <section class="spikes"></section>
    </div>

    <footer class="publi">
      Portfolio desarrollado por <a
        href="https://www.mzrdeveloper.com/"
        target="_blank">Miguel Zamora Rey</a
      >
    </footer>
  </main>
  <KeyboardManager />
</Layout>

<style define:vars={{ bgColor, secondaryBg }}>
  main {
    /*padding: 4rem;*/
    margin: auto;
    width: 100%;
  }

  .secondBg {
    background-color: var(--secondaryBg);
  }

  .spikes {
    position: relative;
    background: var(--secondaryBg);
    height: 2vh;
    margin-bottom: 2vh;
  }

  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(
        135deg,
        var(--secondaryBg) 25%,
        transparent 25%
      ),
      linear-gradient(225deg, var(--secondaryBg) 25%, transparent 25%);
    background-position: 0 0;
  }

  .spikes2 {
    position: relative;
    background: var(--bgColor);
    height: 2vh;
  }

  .spikes2::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(
        135deg,
        var(--bgColor) 25%,
        transparent 25%
      ),
      linear-gradient(225deg, var(--bgColor) 25%, transparent 25%);
    background-position: 0 0;
  }

  .publi {
    width: 100%;
    text-align: center;
    margin-top: 4em;
    padding: 0em 4em;
    height: 6vh;
  }
</style>
