---
const { title } = Astro.props;

import { colors } from '@config/styles.json';
const { titlesColor } = colors;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style define:vars={{ titlesColor }}>
  section {
    max-width: 900px;
    margin: 0 auto 48px;
    padding: 0px 1em;
    padding-bottom: 0.5em;
  }

  h2 {
    text-align: center;
    margin-bottom: 1em;
    padding-top: 1em;
    font-weight: 700;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--titlesColor);
  }

  @media (width <= 900px) {
    section {
    }
  }
</style>
